* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 30px;
    background-color: black;
}

.logo {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.link {
    display: flex;
    gap: 20px;
    color: lightgray;
    font-size: large;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    flex: 1 1 300px;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

.introduce {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 400px;
}

.introduce-title {
    font-size: 40px;
    font-weight: bold;
}

.introduce-image {
    width: 400px;
    height: 200px;
    background-color: gray;
}

.content2 {
    flex: 1 1 300px;
}

.content2-title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
}

.content2-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.content2-container-info {
    width: 150px;
}

.content2-img {
    height: 150px;
    border: solid;
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px;
    background-color: lightgray;
}

.content3-container {
    display: flex;
    flex-direction: column;
}

.content3-quote {
    flex-grow: 1;
    padding: 0 30px;
    max-width: 700px;
    font: italic 25px "Fira Sans", serif;
}

.content3-author {
    padding-top: 10px;
    padding-right: 70px;
    font-weight: bold;
    align-self: flex-end;
}

.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 200px;
}

.content4-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    color: white;
    background-color: blue;
    flex: 1;
    max-width: 900px;
    border-radius: 8px;
    padding: 20px 0;
}

.content4-title {
    font-weight: bold;
    font-size: x-large;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    color: white;
    background-color: black;
}

.sign-up {
    color: white;
    background-color: blue;
    width: 80px;
    height: 30px;
    border-radius: 8px;
}
